# YAML 파일은 사람이 쉽게 읽을 수 있는 데이터 직렬화 양식이다.
# properties 보다 가독성이 좋다.

# Spring
spring:
  datasource:
    url: jdbc:mysql://${MYSQL_URL}:${MYSQL_PORT}/${MYSQL_DBNAME}?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # spring.sql.init.mode : 유형에 관계없이 항상 SQL 데이터베이스를 초기화
  sql:
    init:
      mode: always

# mybatis
mybatis:
  mapper-locations: classpath:mybatis/mapper/*Mapper.xml

api:
  authorization: ${AUTHORIZATION}

# resilience4j
resilience4j.circuitbreaker:
  configs:
    default:
      failureRateThreshold: 50
      slowCallRateThreshold: 100
      slowCallDurationThreshold: 60000
      permittedNumberOfCallsInHalfOpenState: 4
      maxWaitDurationInHalfOpenState: 1000
      slidingWindowType: COUNT_BASED
      slidingWindowSize: 10
      minimumNumberOfCalls: 10
      waitDurationInOpenState: 10000
  instances:
    customCircuitBreaker:
      baseConfig: default