<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.doorrush.domain.user.dao.UserAddressMapper">

  <select id="selectUserAddressAll" parameterType="Long" resultType="com.flab.doorrush.domain.user.domain.UserAddress">
    SELECT B.USER_ADDRESS_SEQ,
           A.ADDRESS_SEQ,
           B.USER_SEQ,
           A.POST,
           A.SPOT_Y,
           A.SPOT_X,
           A.ADDRESS_DETAIL,
           B.DEFAULT_STATUS
    FROM ADDRESS A
           INNER JOIN USER_ADDRESS_MAPPING B
                      ON A.ADDRESS_SEQ = B.ADDRESS_SEQ
    WHERE B.USER_SEQ = #{userSeq}
  </select>

  <insert id="insertAddress" parameterType="com.flab.doorrush.domain.user.domain.Address"
    keyProperty="addressSeq" useGeneratedKeys="true">
    INSERT INTO `ADDRESS` (`POST`, `SPOT_Y`, `SPOT_X`, `ADDRESS_DETAIL`)
    VALUES (#{post},
            #{spotY},
            #{spotX},
            #{addressDetail})
  </insert>

  <insert id="insertUserAddress"
    parameterType="com.flab.doorrush.domain.user.domain.UserAddress"
    keyProperty="userAddressSeq" useGeneratedKeys="true">
    INSERT INTO `USER_ADDRESS_MAPPING` (`USER_SEQ`, `ADDRESS_SEQ`, `DEFAULT_STATUS`)
    VALUES (#{userSeq},
            #{addressSeq},
            #{ynStatus})
  </insert>

  <select id="isExistsDefaultAddress" parameterType="Long" resultType="boolean">
    SELECT EXISTS
             (SELECT DEFAULT_STATUS
              FROM USER_ADDRESS_MAPPING
              WHERE USER_SEQ = #{userSeq}
                and DEFAULT_STATUS = 'Y')
  </select>

  <update id="updateUserAddress" parameterType="Long">
    UPDATE USER_ADDRESS_MAPPING
    SET DEFAULT_STATUS = 'N'
    WHERE USER_SEQ = #{userSeq}
  </update>

  <delete id="deleteAddress" parameterType="Long">
    DELETE
    FROM ADDRESS
    WHERE ADDRESS_SEQ = #{addressSeq}
  </delete>

  <select id="isExistsAddress" parameterType="Long" resultType="boolean">
    SELECT EXISTS
             (SELECT ADDRESS_SEQ
              FROM ADDRESS
              WHERE ADDRESS_SEQ = #{addressSeq})
  </select>

  <select id="selectAddressBySeq" parameterType="Long"
    resultType="com.flab.doorrush.domain.user.domain.Address">
    SELECT ADDRESS_SEQ,
           POST,
           SPOT_Y,
           SPOT_X,
           ADDRESS_DETAIL
    FROM ADDRESS
    WHERE ADDRESS_SEQ = #{addressSeq}
  </select>
</mapper>